#name {
    width: 30%;
    background-color: darkgrey;
}

.input-com {
    width: 100%;
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.action {
    width: 10%;
}
#editbtn, #delbtn ,#favbtn{
    width: 30px;
    height: 30px;
}